<nav class="navbar" role="navigation" aria-label="main navigation">
      <section class = "container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="favicon_io/logo-via-logohub.png" width="270" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
              <a href = "#to-about" class="navbar-item">About</a>
              <a href = "#to-core-skills" class="navbar-item">Core Skills</a>
              <a href = "#to-projects" class="navbar-item">Projects</a>
              <a href = "#to-resume" class="navbar-item">Resume</a>
        </div>
        
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-small is-dark" href = "https://github.com/danielc92">
                Github Profile
              </a>
              <a class="button is-small is-dark" href = "https://danielcorcoranssql.wordpress.com">
                Wordpress Blog
              </a>
              <a class="button is-small is-dark" href = "https://public.tableau.com/profile/daniel.corcoran#!">
                Tableau Profile
              </a>
            </div>
          </div>
        </div>
        </section>
</nav>